// Civo resources
civo_region = "LON1" //required
civo_token = "" //required

// For Cert Manager SSL Certificates via LetsEncrypt
 # must be a valid email address
email = "email@example.com" //required

// This is soley to create a prefix to know who the cluster belongs to in the case of deploying multiple clusters to a shared account.
developer_name = "your name or identifier"
