// Civo resources
civo_region = "NYC1" //required
civo_token = "" //required

// For Cert Manager SSL Certificates via LetsEncrypt
 # must be a valid email address
email = "email@example.com" //required

// Optionally add a prefix to the cluster name, for easier identification
cluster_name_prefix = "my-prefix"
